* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --band-primary: #222222;
    --band-secondary: #2b2b2b;
    --band-lighter: #464646;
    --band-topper: #3c3c3c;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    overflow: hidden;
    
}

/* #region header */

header {
    height: 112px;

    .top {
        background-color: var(--band-primary);
        height: 60px;
    }

    .down {
        background-color: var(--band-secondary);
        height: 60px;
    }
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-one {
    margin-left: 30px;
    padding: 10px;
    padding-right: 100px;
    background-color: var(--band-lighter);
    color: grey;
    cursor: pointer;
    border-radius: 3px;
    border-width: 0cm;

}

.logo img {
    padding-left: 30px;
    vertical-align: middle;
}

nav {
    padding-right: 30px;

    a {
        text-decoration: none;
        color: white;
        font-size: 13px;
        padding-right: 20px;
        cursor: pointer;
    }
}

/* down part */

.down {
    padding: 10px;
    padding-left: 30px;
    

}

.second-one {
    color: grey;
    background-color: var(--band-topper);
    border: 1px solid;
    padding: 5px;
    padding-right: 30%;
    border-radius: 20px;
}

/* #endregion header */

/* #region main */

main {
    background-color: var(--band-primary);
    display: flex;
    

    .left {
        width: 70%;
        height: 600px;
        overflow-y: auto;
        
    }

    .right {
        width: 30%;
    }
}

.left{
    border-right: 1px solid grey;
}

/* left side */

.row{
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-top: 50px;
    
    .col{
        width: calc( 100% / 4 );
        padding: 10px;

        img{
            width: 200px;
            border: 3px solid gray;
        }

        figcaption{
            font-size: 15px;
            color: white;

            p{
                color: grey;
            }
        }
    }
}

/* right side */

.right{
    width: 30%;
    padding: 30px;
    margin: auto;
    vertical-align: middle;

    .play{
        width: 70%;
        margin: auto;
    }
}
.play{
    display: flex;
    flex-direction: column;
    justify-content: center;

    img{
        width: 100%;
        border: 3px solid gray;
    }
}

.play-button{
    padding-top: 30px;
    display: flex;
    color: white;
}

.play-icon{
    font-size: 50px;
    padding-right: 20px;
}

.upper{
    background-color: white;
    color: var(--band-primary);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    display: block;
}

.junior{
    background-color: var(--band-primary);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    color: white;
    border: 1px solid white;
}

.release{
    width: 70%;
    padding-top: 30px;
    margin: auto;
    color: white;
}

.author{
    padding: 30px 0px;
    display: flex;

    img{
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }

    .details{
        padding-left: 20px;
    }
}

/* #endregion main */

/* media query */

/* display tablet */

@media screen and ( max-width: 744px){
    main .left{
        width: 65%;
    }
    main .right{
        width: 35%;
    }

    .row{
        width: 100%;
        padding: 10px;
        .col{
            width: calc( 100% / 2 );
        }

    }
}